body {
    height: 960px;
    width: 100%;
    margin: 0px auto 0px auto;
}

#D1 {
    align: center;
}

S1 #D2 {
    width: 260px;
    height: 100px;
    float: left;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}

S2 #D3 {
    width: 700px;
    height: 100px;
    float: left;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
}

S3 #D6 {
    width: 200px;
    height: 50px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align: center;
    align-items: center;
}

S3 #D7 {
    width: 200px;
    height: 50px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align: center;
    align-items: center;
}

S3 #D8 {
    width: 200px;
    height: 50px;
    float: left;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align: center;
    align-items: center;
}