body {
    width: 960px;
    height: 800px;
    margin: 0px auto 0px auto;
}

.D1 {
    width: 960px;
    height: 50px;
    margin: 0px auto 0px auto;
    text-align: center;
}

.INDICE {
    width: 260px;
    height: 400px;
    float: left;
}

.DETALLE {
    width: 700px;
    height: 600px;
    float: left;
}

.CA {
    width: 215px;
    height: 300px;
    float: left;
    margin-left: 0px;
}

.CB {
    margin-left: 5px;
    width: 220px;
    height: 300px;
    float: left;
}

.CC {
    margin-left: 5px;
    width: 215px;
    height: 300px;
    float: left;
}